@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    font-family: Iosevka Nerd Font Propo;
    font-size: 11px;
    min-height: 0;
}

#clock,
#workspaces,
#submap,
#tray,
#wireplumber,
#network,
#backlight,
#cpu,
#memory
#battery {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0px 8px;
    margin: 0px 0px;
}

window#waybar {
    background: alpha(@base, 0.9);
}

tooltip {
    background: alpha(@base, 0.9);
    color: @text;
}

#workspaces {
    margin-top: 0px;
    margin-bottom: 0px;
}

#workspaces button {
    /* transition: all 0.3s ease; */
    border: 2px solid transparent;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0);
    padding: 0px 0px;
    min-width: 0px;
}

#workspaces button label {
    color: @text;
}

#workspaces button:hover {
    border: 1px solid @mauve;
}

#workspaces button.active label {
    color: @mauve;
    font-weight: bolder;
    text-decoration-line: none;
}

#tray menu {
    background: alpha(@base, 0.9);
}
